modules = ["nodejs-20", "bash"]
run = "npm run dev"

[deployment]
run = ["sh", "-c", "npm run dev"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 8081
externalPort = 80

[workflows]
runButton = "Start Full Application"

[[workflows.workflow]]
name = "Start Full Application"
author = 38632384
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bash start.sh"
