modules = ["nodejs-20", "postgresql-16"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3000

[workflows]
runButton = "Start Stable"

[[workflows.workflow]]
name = "Start App"
author = 43407251
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[workflows.workflow]]
name = "Full Stack App"
author = 43407251
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run server"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[workflows.workflow]]
name = "Dev App"
author = 43407251
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run server &"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "sleep 3"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[workflows.workflow]]
name = "Start Stable"
author = 43407251
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run server &"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "sleep 5"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx expo start --clear"
